html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LETS BEGIN THE DESIGN*/

body {
  background: #white;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #151d3b;
}

.header h1 {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 40px;
  font-family: "Loved by the King", cursive;
}

.header > p {
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.header img {
  width: 40vh;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counter > img {
  height: 30px;
}

.clock {
  font-size: 50px;
}

.weather {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  border: 2px solid #32a9e3;
  align-items: center;
}

.weather-icon {
  width: auto;
  height: 20vh;
}

.mid-texts {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.temperature-text {
  font-size: 40px;
  margin: 3vh;
}

.weather-text {
  margin-bottom: 2vh;
}

.weather-love {
  margin-top: 1vh;
  text-align: center;
}

.degree-number {
  font-size: 7vh;
}

.max-min {
  font-size: 2vh;
}

.temperature-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
